*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 1;
    background: none;
    color: inherit;
}

ul, ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input, textarea, button, select, option {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

svg {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    background: none;
    border: none;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    padding: 0;
    margin: 0;
}

address {
    font-style: normal;
}

pre, code {
    font-family: monospace;
}

hr {
    border: none;
    height: 1px;
    background: #ccc;
}

blockquote, figure {
    margin: 0;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto", serif;
    height: 1400px;
    background-color: #ffffff;
}
.mobile-menu {
    position: fixed;
    top: 0;
    left: -100%; /* За пределами экрана */
    width: 70%;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: left 0.3s ease-in-out;
    z-index: 100;
  }
  .menu-active {
    left: 0; /* Выезжает на экран */
}

/* Логотип внутри меню */
.menu-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0; /* Отступы сверху и снизу */
    border-bottom: 1px solid #ccc; /* Разделительная линия */
    z-index: 100;

}

.menu-logo img {
    width: 100px; /* Ширина твоего логотипа */
    height: auto;
    z-index: 1000;

}


#menuli {
    padding: 7px;
    font-size: 13px;
    font-weight: bold;

}

























@media (min-width:  1140px ) {
 .menu , .nav , .baner992 , .reklama , .stul , .stol , .shkaf ,
  .navigav ,  .search-container ,
   .dostavka , .rek , .magazin , .magazin768 , .magazin2768 {
    display: none;
}

body {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.navbig {
    margin: 0 auto;
    width: 100%;
    height: 40px;
    background-color: rgba(49, 49, 49, 1);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding-left: 13.7%;
    padding-right: 15%;
    align-items: center;
}

.navbig {
    position: relative;
    left: -15%;
    right: -10%;
    width: calc(100% + 30%);
}


.nav4 {
    display: flex;
    justify-content: space-around;
    width: 20%;
}


.nav44{
    display: flex;
    justify-content: space-evenly;
    width: 30%
}
.navas   {
    width: 15%;
    height: auto;
}
.logo {
    height: 27px;
}


.nava {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    padding-top: 2.5%;
}



.nav3 {
    display: flex;
    width: 20%;
    justify-content: space-evenly;
}




.search-containera {
    border: 1.5px solid rgba(230, 230, 230, 1);
    background-color: #f9f9f9;
    width: auto;
    height: 40px;
    width: 65%;




}

.search-containera input {
    border: none;
    outline: none;
    font-size: 18px;
    color: #333;
    width: auto;
    height: 40px;
    justify-content: center;
    
}


.navigav992box {
    width:auto;
    padding-top: 2%;
    padding-bottom: 3.5%;
}

.navigav992{
    width: auto;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 
    0 30px 60px rgba(255, 255, 255, 0.8), 
    0 5px 10px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
    margin-right: 2.5%;
}

.nav55 {
    color: red;
}
.reklama1140px {
    position: relative;
}

.reklama11411 {
    overflow: hidden;
    margin-right: 2.5%;
    position: relative;
    z-index: 0;
}

.reklama11401 {
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 10;
}

.reklama11411 img {
    width: 100%; /* Изображение растягивается по ширине контейнера */
    height: auto; /* Сохраняет пропорции */
    object-fit: cover; /* Масштабирование, чтобы изображение заполнило блок */
}


.rek1140 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 52.65px;
    color: rgba(60, 60, 60, 1);
    
}

.rek1141 {
    color: rgba(52, 52, 52, 1);
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    padding-top: 3%;
    padding-bottom: 4%;
}

.rek3 {
    width: 180px;
    height: 50px;
    padding: 10px 20px;
    background-color: #ffffff; /* Белый фон */
    color: #000000; /* Черный текст */
    font-size: 14px;
    

}

.magazin1140 {
    display: flex;
    justify-content: space-around;
    padding-top: 7%;
}


.magaz {
    margin-top: 3%;
    font-size: 24px;
    font-weight: 400;
    line-height: 18.75px;
    color: rgba(65, 65, 65, 1);
}

 
.heart {
    position: relative;
    left: 90%;
}

.row2 {
    padding-top: 10%;
}



.row3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 18.75px;
    padding: 2% 0  4% 0;
}

.row4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 12.89px;
    padding: 2% 0  4% 0;
}

.row5 {
    font-size: 20px;
    font-weight: 500;
    line-height: 18.75px;
}




.row6 {
    font-size: 14px;
    color:#CCCCCC;
    text-decoration: line-through;
    padding-left: 7px;
    margin-top: 5px;
   }


   .row7 {
    display: flex;
   }



.foter768 {
    width: 100%;
    height: 20%;
    box-shadow: 
    0 30px 60px rgba(255, 255, 255, 0.8), /* Яркая белая тень */
    0 30px 50px rgba(0, 0, 0, 0.3); /* Более выраженная чёрная тень */
}

.foter768 {
    position: relative;
    left: -15%;
    right: -10%;
    width: calc(100% + 30%);
    padding-left: 15%;
    padding-right: 10%;
    margin-top: 5%;

}

.foterN {
    width: 50%;
    font-size: 17px;
    font-weight: 900;
    padding-left: 2%;
    padding-top: 4%;
}


.nav-foter {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 2%;
}


.fot-li {
    font-size: 15px;
    font-weight: 400;
    margin-top: 7%;
}


.fot {
    display: flex;
    justify-content: space-between;
}

.kontac {
    width: 25%;
    padding-right: 10%;
}

.logo-fut {
    display: flex;
    justify-content: end;
    padding: 0% 0% 10% 1%;
    height: 60px;

}
.lokated {
    font-size: 15px;
    font-weight: 500;
}





.the-end {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
    padding-left: 1%;
}


.tel {
    display: flex;
    width: auto;
}

.insta {
    display: flex;
    width: auto;

}

.email {
    display: flex;
    width: auto;

}

.akcia {
    display: flex;
    justify-content: space-between;
    width: auto;
}


.img-fot {
    margin: 0px 10px 0px 0px;
}


#red {
    padding-left: 10%;
    color: red;
    margin-right: 30%;
}

.men {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    height: 20px;
    gap: 15px;
    padding-right: 10%;
}


.product-details {
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transition: opacity 4.0s ease, visibility 4.5s ease, height 4.0s ease;
    padding-top: 5%;
}

.row30:hover .product-details {
    opacity: 1;
    visibility: visible;
    height: auto; 
}

.row15 {
    font-size: 20px;
    font-weight: 500;
    line-height: 18.75px;
}



 .razmer {
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    font-weight: 400;
    color: rgba(196, 196, 196, 1);
 }

 .raz {
    font-size: 15px;
    color: rgba(65, 65, 65, 1);
    font-weight: 400;
    padding-left: 3.5%;
    margin-bottom: 3%;
    
 }

 .razmer2 {
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    font-weight: 400;
    padding-top: 2.5%;
    padding-bottom: 5%;
 }


.razmer3 {
    background-color:rgba(36, 84, 98, 1);
    
}

.razmer33 {
    color: #f9f9f9;
    width: auto;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12%;

}


.row999:hover .row30 {
    width: 270px;
    height: 488px;
    box-shadow: 
    0 40px 60px rgba(255, 255, 255, 0.8), 
    0 40px 50px rgba(0, 0, 0, 0.3);
    padding-top: 20%;
}

.row999:hover img {
    position: relative;
    left: 11.5%;
}

.row999:hover .heart {
    position: relative;
    left: 80%;
}

.row999:hover .row3  {
    position: relative;
    left: 5%;
}

.row999:hover .raz {
    position: relative;
    left: 2.5%;
}

.row999:hover .razmer3 {
    width: 90%;
    position: relative;
    left: 5%;
}

.row999:hover .row4 {
    position: relative;
    padding-left: 5%;
}

.row999:hover .row15 {
    position: relative;
    padding-left: 5%;
}

.razmer33 {
    position: relative;
    left: 7%;
}



.magazin1145 {
    display: flex;
    justify-content: space-around;
}



.row20 , .row30 , .row40 , .row50 {
    padding-top: 50px;
}

















}

@media (min-width:  768px ) and (max-width: 1139px) {
body {
    height: 1200px;
}
.stul , .stol , .shkaf , .navbig  ,.nav5 , .nav55 , .reklama1140px , .magaz1140 ,.magazin1140  {
    display: none;
}
.divan {
    display: none;
}
.reklama {
    display: none;
}
.search-container {
        display: none;
    }
.nav {
    display: none;
}
.magazin1 {
    display: none;
}

.navigav {
    display: none;
}

.menu {
    width: 30px;
    height: 25px;
}
.nava {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    padding-top: 30px;
}

.navas{
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.nav3 {
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.search-containera {
    border: 1.5px solid rgba(230, 230, 230, 1);
    background-color: #f9f9f9;
    width: auto;
    height: 40px;
    width: 40%;




}

/* Поле ввода */
.search-containera input {
    border: none;
    outline: none;
    font-size: 18px;
    color: #333;
    width: auto;
    height: 40px;
    justify-content: center;
    padding-left: 15px;
    
}



.navigav992{
    margin: 20px 0 20px 0;
    padding: 20px 0px 20px 0px;
    display: flex;
    justify-content: space-around;
    box-shadow: 
    0 30px 60px rgba(255, 255, 255, 0.8), /* Яркая белая тень */
    0 5px 10px rgba(0, 0, 0, 0.1); /* Лёгкая дополнительная тень */}



.krug {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
    box-shadow: 
    0 30px 60px rgba(255, 255, 255, 0.8) /* Яркая белая тень */
}

.devan {
    position: absolute;
    top: 60%;
    left: 61.5%;
    transform: translate(-50%, -50%);
    width: 50%; /* Размер относительно круга */
    height: auto;
    z-index: 10;
}

 .baner992 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
}


.rek {
    width: 30%;
    height: auto;
    position: relative;
    left: 10%;
    z-index:10
    
}

.rek1 {
    position: absolute;
    top: 65px;
    color: #ffffff;
    font-size: 20px;
    line-height: 28px;
    width: 80%;
    height: auto;
    z-index: 9;
}



.rek2 {
    text-align: center; 
    position: absolute;
    top: 145px;

    
}

.rek3 {
    width: 140px;
    height: 40px;
    padding: 10px 10px;
    background-color: #ffffff; /* Белый фон */
    color: #000000; /* Черный текст */
    font-size: 12px;

}


.magazin h2 {
    font-size: 18px;
    color: #414141;
    padding: 20px 15px 15px 20px;
    font-weight: 900;
}



.magazin768{
    display: flex;
    justify-content: end;
    width: 100%;
    padding-top: 5.5%;
}

.divan768 {
    width: 30%;
    height: auto;

}
.heart {
    position: relative;
    left: 66%;
    
}


.price7681 {
    width: auto;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    color: #414141;
}

.price7682 {
    width: auto;
    font-size: 13.5px;
    margin-top: 5px;

}

.price7683 {
    width: auto;
    font-size: 14.5px;
    font-weight: bold;
    margin-top: 5px;

} 


.magazin2768 {

    display: flex;
    justify-content: end;
    width: 100%;
    padding-top: 7%;
    padding-bottom: 10%;
}


.foter768 {
    width: 100%;
    height: 20%;
    box-shadow: 
    0 30px 60px rgba(255, 255, 255, 0.8), /* Яркая белая тень */
    0 30px 50px rgba(0, 0, 0, 0.3); /* Более выраженная чёрная тень */
}



.foterN {
    width: 50%;
    font-size: 17px;
    font-weight: 900;
    padding-left: 3%;
    padding-top: 4%;
}


.nav-foter {
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}


.fot-li {
    font-size: 15px;
    font-weight: 400;
    margin-top: 7%;
}


.fot {
    display: flex;
    justify-content: space-between;
}

.kontac {
    width: 25%;
    padding-right: 5%;
}

.logo-fut {
    display: flex;
    justify-content: end;
    padding: 0% 0% 10% 1%;
    height: 60px;

}
.lokated {
    font-size: 15px;
    font-weight: 500;
}


.the-end {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
}


.tel {
    display: flex;
    width: 25%;
}

.insta {
    display: flex;
    width: 20%;

}

.email {
    display: flex;
    width: 25%;

}

.akcia {
    display: flex;
    justify-content: space-around;
    width: 20%;
}


.img-fot {
    margin: 0px 10px 0px 0px;
}


#red {
    color: red;
}

.men {
    display: flex;
    justify-content: center;
    width: 80%;
    padding-left: 0;
}

}



@media (min-width:  480px ) and (max-width: 767px) {
    body {
        height: 1200px;
    }

    .magazin768 , .magazin2768 , .foter768 , .navbig  ,.nav5 ,.nav55  , .reklama1140px , .magaz1140  ,.magazin1140  {
        display: none;
    }

    .reklama992 {
        display: none;
    }

    .navigav992 {
        display: none;
    }

    .nava {
        display: none;
    }

    .navi {
        display: none;
    }
    .nav22 {
        display: none;
    }

    .nav-bar {
        padding-top: 20px;
    }
    
    .menu {
        width: 30px;
        height: 25px;
    }


    .dostavka {
        display: block; 
        padding-top: 5%;

    }

    .nav {
        display: flex;
        justify-content: space-around;
    }
    .nav1 {
        display: flex;
        justify-content: space-around;
        width: 250px;
    }

    .logo {
        width: 140px;
    }

    
    .search-container {
        border: 1.5px solid rgba(230, 230, 230, 1);
        background-color: #f9f9f9;
        width: auto;
        height: 40px;
        margin: 15px 17px 0px 17px;
    
    
    
    }
    
    /* Поле ввода */
    .search-container input {
        border: none;
        outline: none;
        font-size: 18px;
        color: #333;
        width: auto;
        height: 40px;
        justify-content: center;
        padding-left: 15px;
        
    }


    
.navigav {
    display: flex;
    justify-content: center; 
    padding-top: 22px;
}

.navigavM {
    margin: 0px 20px 0px 20px;
}


.mobile-menu {
    position: fixed;
    top: 0;
    left: -100%; /* За пределами экрана */
    width: 70%;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: left 0.3s ease-in-out;
    z-index: 100;
}

/* Меню открыто */
.menu-active {
    left: 0; /* Выезжает на экран */
}

/* Логотип внутри меню */
.menu-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0; /* Отступы сверху и снизу */
    border-bottom: 1px solid #ccc; /* Разделительная линия */
    z-index: 100;

}

.menu-logo img {
    width: 100px; /* Ширина твоего логотипа */
    height: auto;
    z-index: 1000;

}


#menuli {
    padding: 7px;
    font-size: 13px;
    font-weight: bold;

}


.reklama {
    background-color: #f4f4f4;
    width: 50%;
    height: 127px;
    z-index: 10;
    margin-top: 20px;
}

.reklama h2 {
 font-size: 18px;
 margin-bottom: 7px;
 padding-top: 20px;
 position: relative;
 left: 15%;
 top: 25%;
 z-index: 10;

}
.reklama p {
    font-size: 14px;
    position: relative;
    width: auto; 
    left: 16%;
    top: 25%;
    z-index: 10;
}

.reklama1 img {
    position: absolute;
    width: 100%;
    height: 20%;
    z-index: 0;

}

.menu {
    z-index: 10000;
}




.magazin h2 {
    font-size: 18px;
    color: #414141; 
    padding: 20px 15px 15px 40px;
    font-weight: 900;
    margin-top: 50px;
}



.magazin1 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 20px;
}


.stul {
    width: 30%;
    height: auto;
    margin-left: 10%;

}
.heart {
    position: relative;
    left: 66%;
    
}

.divan {
    width: 30%;
    height: auto;
    margin-left: 10%;
}


.stilPrice1 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    color: #414141;
}

.stilPrice2 {
    font-size: 13px;
    margin-top: 5px;

}

.stilPrice3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;

} 

.stilPrice4 {
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
}


.stilPrice6 {
    display: flex;
}

.stilPrice5 {
 font-size: 12px;
 color:#CCCCCC;
 text-decoration: line-through;
 padding-left: 7px;
 margin-top: 5px;
}



.stol {
    width: 30%;
    height: auto;
    margin-left: 10%;
}

.shkaf {
    width: 30%;
    height: auto;
    margin-left: 3%;

}


.magazin11 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 20px;
}


.stilPrice12 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.stilPrice13 {
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
}









}

@media (min-width: 320px ) and (max-width: 480px) {

body {
    height: 900px;
}
.menu {
    width:20px;
    height:11px;
    object-fit: fill;
    overflow: hidden;

}

.magazin768 , .magazin2768 , .foter768 , .navbig ,.nav5 ,.nav55  , .reklama1140px , .magaz1140  ,.magazin1140    {
    display: none; 
}

.reklama992 {
    display: none;
}
.navigav992 {
    display: none;
}
.nava {
    display: none;
}
.navi {
    display: none;
}
.nav22 {
    display: none;
}
.nav-bar {
    padding-top: 20px;
}

.menu {
    width: 30px;
    height: 25px;
    z-index: 1000;
}

.nav {
    display: flex;
    justify-content: space-around;
}
.nav1 {
    display: flex;
    justify-content: space-between;
    width: 92px;
    height: auto;
}

.dostavka {
    display: none;
}


.search-container {
    border: 1.5px solid rgba(230, 230, 230, 1);
    background-color: #f9f9f9;
    width: auto;
    height: 40px;
    margin: 15px 17px 0px 17px;



}

/* Поле ввода */
.search-container input {
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    width: auto;
    height: 40px;
    justify-content: center;
    padding-left: 15px;
    
}

.navigav {
    display: flex;
    justify-content: center; 
    padding-top: 15px;
    gap: 3%;
}


.reklama {
    width: 50%;
    height: 127px;
    z-index: 9;
    margin-top: 20px;
}

.reklama h2 {
 font-size: 16px;
 margin-bottom: 7px;
 position: relative;
 left: 7%;
 top: 25%;
 z-index: 9;

}
.reklama p {
    font-size: 10px;
    position: relative;
    width: auto; 
    left: 7%;
    top: 25%;
    z-index: 9;
}

.reklama1 img {
    position: absolute;
    width: 100%;
    height: 13%;
    z-index: 0;

}

.magazin h2 {
    font-size: 16px;
    color: #414141;
    padding: 20px 15px 15px 15px;
    font-weight: bold;
}

.magazin1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.stul {
    width: 30%;
    height: auto;
}
.heart {
    position: relative;
    left: 100%;
    
}

.divan {
    width: 30%;
    height: auto;
}

.stol {
    width: 30%;
    height: auto;
}

.shkaf {
    width: 30%;
    height: auto;
}




.stilPrice1 {
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    color: #414141;
}

.stilPrice2 {
    font-size: 10px;
    margin-top: 5px;

}

.stilPrice3 {
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px;

} 

.stilPrice4 {
    font-size: 11.5px;
    font-weight: bold;
    margin-top: 10px;
}


.stilPrice6 {
    display: flex;
}

.stilPrice5 {
 font-size: 9px;
 color:#CCCCCC;
 text-decoration: line-through;
 margin-top: 8px;
 padding-left: 7px;
}



.magazin11 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 20px;
}


.stilPrice12 {
    font-size: 11px;
    font-weight: bold;
    margin-top: 10px;
}

.stilPrice13 {
    font-size: 10.8px;
    font-weight: bold;
    margin-top: 10px;
}



/* Скрытое меню */
.mobile-menu {
    position: fixed;
    top: 0;
    left: -100%; /* За пределами экрана */
    width: 70%;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: left 0.3s ease-in-out;
    z-index: 10;
}

/* Меню открыто */
.menu-active {
    left: 0; /* Выезжает на экран */
}

/* Логотип внутри меню */
.menu-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0; /* Отступы сверху и снизу */
    border-bottom: 1px solid #ccc; /* Разделительная линия */
    z-index: 1000;
}

.menu-logo img {
    width: 100px; /* Ширина твоего логотипа */
    height: auto;
    z-index: 1000;

}

.menu2 {
    font-size: 13px;
    padding: 10px;
}

#menuli {
    padding: 7px;
    font-size: 13px;
    font-weight: bold;

}


}