*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 1;
    background: none;
    color: inherit;
}

ul, ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input, textarea, button, select, option {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

svg {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    background: none;
    border: none;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    padding: 0;
    margin: 0;
}

address {
    font-style: normal;
}

pre, code {
    font-family: monospace;
}

hr {
    border: none;
    height: 1px;
    background: #ccc;
}

blockquote, figure {
    margin: 0;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: Roboto;
    .mobile-menu {
        position: fixed;
        top: 0;
        left: -100%; /* За пределами экрана */
        width: 70%;
        height: 100%;
        background-color: #ffffff;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
        padding: 20px;
        transition: left 0.3s ease-in-out;
        z-index: 100;
      }
      .menu-active {
        left: 0; /* Выезжает на экран */
    }
    
    /* Логотип внутри меню */
    .menu-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0; /* Отступы сверху и снизу */
        border-bottom: 1px solid #ccc; /* Разделительная линия */
        z-index: 100;
    
    }
    
    .menu-logo img {
        width: 100px; /* Ширина твоего логотипа */
        height: auto;
        z-index: 1000;
    
    }
    
    
    #menuli {
        padding: 7px;
        font-size: 13px;
        font-weight: bold;
    
    }
    
    
      
}





@media (min-width: 1200px ) {















}

@media (min-width:  992px ) {



    .mobile-menu {
        display: none;
     }
    
     .menu {
        display: none;
     }
    
    .navigav {
        display: none;
    }
    
    .reklama {
        display: none;
    }
    .dostavka {
        display: none;
    }
    
    .nav {
        display: none;
    }
    
    .search-container {
        display: none;
    }
    
    
    .nav22 {
        background-color: #313131;
        display: flex;
        justify-content: space-around;
        width: 100%;
        color: #ffffff;
        height: 40px;
    }
    
    .nav222 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 40%;
        font-size: 17px;
    }
    
    .nav2222 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 40%;
        font-size: 17px;
    }
    
    
    .navi {
        display: flex;
        justify-content: space-between;
    }
    
    .search-containerr {
        border: 1px solid #ccc;
        background-color: #ffffff;
        width: auto;
        height: 40px;
        margin: 15px 17px 0px 17px;
    
    
    
    }
    
    /* Поле ввода */
    .search-containerr input {
        border: none;
        outline: none;
        font-size: 16px;
        color: #333;
        width: auto;
        height: 40px;
        justify-content: center;
        padding-left: 15px;
        
    }
    
.baner992 {
    width: 100%;
}








}

@media (min-width:  768px ) /*and (max-width: 992px)*/ {

.stul , .stol , .shkaf  {
    display: none;
}
.divan {
    display: none;
}
.reklama {
    display: none;
}
.search-container {
        display: none;
    }
.nav {
    display: none;
}
.magazin1 {
    display: none;
}

.navigav {
    display: none;
}

.menu {
    width: 30px;
    height: 25px;
}
.nava {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    padding-top: 30px;
}

.navas{
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.nav3 {
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.search-containera {
    border: 1px solid #f9f9f9;
    background-color: #f9f9f9;
    width: auto;
    height: 40px;
    width: 40%;




}

/* Поле ввода */
.search-containera input {
    border: none;
    outline: none;
    font-size: 18px;
    color: #333;
    width: auto;
    height: 40px;
    justify-content: center;
    padding-left: 15px;
    
}

.navigav992{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #fff;
    background-color: #fff;
}



.krug {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
}

.devan {
    position: absolute;
    top: 60%;
    left: 61.5%;
    transform: translate(-50%, -50%);
    width: 50%; /* Размер относительно круга */
    height: auto;
    z-index: 10;
}

 .baner992 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
}


.rek {
    width: auto;
    height: auto;
    position: absolute;
    left: 10%;
    z-index:10
    
}

.rek1 {
    position: absolute;
    top: 60px;
    color: #ffffff;
    font-size: 22px;
    line-height: 28px;
    width: 235px;
    height: auto;
    z-index: 9;
}



.rek2 {
    text-align: center; 
    position: absolute;
    top: 145px;

    
}

.rek3 {
    width: 140px;
    height: 40px;
    padding: 10px 20px;
    background-color: #ffffff; /* Белый фон */
    color: #000000; /* Черный текст */
    font-size: 12px;

}


.magazin h2 {
    font-size: 18px;
    color: #414141;
    padding: 20px 15px 15px 20px;
    font-weight: 900;
}



.magazin768{
    display: flex;
    justify-content: end;
    width: 100%;
    padding-top: 5.5%;
}

.divan768 {
    width: 30%;
    height: auto;

}
.heart {
    position: relative;
    left: 66%;
    
}


.price7681 {
    width: auto;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    color: #414141;
}

.price7682 {
    width: auto;
    font-size: 13.5px;
    margin-top: 5px;

}

.price7683 {
    width: auto;
    font-size: 14.5px;
    font-weight: bold;
    margin-top: 5px;

} 


.magazin2768 {

    display: flex;
    justify-content: end;
    width: 100%;
    padding-top: 7%;
}










}



@media (min-width:  480px ) and (max-width: 768px) {
    body {
        height: 1200px;
        font-family: RoboTo;
    }

    .magazin768 , .magazin2768  {
        display: none;
    }

    .reklama992 {
        display: none;
    }

    .navigav992 {
        display: none;
    }

    .nava {
        display: none;
    }

    .navi {
        display: none;
    }
    .nav22 {
        display: none;
    }

    .nav-bar {
        padding-top: 20px;
    }
    
    .menu {
        width: 30px;
        height: 25px;
    }


    .dostavka {
        display: block; 
        padding-top: 5%;

    }

    .nav {
        display: flex;
        justify-content: space-around;
    }
    .nav1 {
        display: flex;
        justify-content: space-around;
        width: 250px;
    }

    .logo {
        width: 140px;
    }

    
    .search-container {
        border: 1px solid #ccc;
        background-color: #ffffff;
        width: auto;
        height: 40px;
        margin: 15px 17px 0px 17px;
    
    
    
    }
    
    /* Поле ввода */
    .search-container input {
        border: none;
        outline: none;
        font-size: 18px;
        color: #333;
        width: auto;
        height: 40px;
        justify-content: center;
        padding-left: 15px;
        
    }


    
.navigav {
    display: flex;
    justify-content: center; 
    padding-top: 22px;
}

.navigavM {
    margin: 0px 20px 0px 20px;
}


.mobile-menu {
    position: fixed;
    top: 0;
    left: -100%; /* За пределами экрана */
    width: 70%;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: left 0.3s ease-in-out;
    z-index: 100;
}

/* Меню открыто */
.menu-active {
    left: 0; /* Выезжает на экран */
}

/* Логотип внутри меню */
.menu-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0; /* Отступы сверху и снизу */
    border-bottom: 1px solid #ccc; /* Разделительная линия */
    z-index: 100;

}

.menu-logo img {
    width: 100px; /* Ширина твоего логотипа */
    height: auto;
    z-index: 1000;

}


#menuli {
    padding: 7px;
    font-size: 13px;
    font-weight: bold;

}


.reklama {
    background-color: #f4f4f4;
    width: 50%;
    height: 127px;
    z-index: 10;
    margin-top: 20px;
}

.reklama h2 {
 font-size: 18px;
 margin-bottom: 7px;
 position: relative;
 left: 15%;
 top: 25%;
 z-index: 10;

}
.reklama p {
    font-size: 14px;
    position: relative;
    width: auto; 
    left: 16%;
    top: 25%;
    z-index: 10;
}

.reklama1 img {
    position: absolute;
    width: 100%;
    height: 127px;
    z-index: 0;

}

.menu {
    z-index: 10000;
}




.magazin h2 {
    font-size: 18px;
    color: #414141;
    padding: 20px 15px 15px 40px;
    font-weight: 900;
}



.magazin1 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 20px;
}


.stul {
    width: 30%;
    height: auto;
    margin-left: 10%;

}
.heart {
    position: relative;
    left: 66%;
    
}

.divan {
    width: 30%;
    height: auto;
    margin-left: 10%;
}


.stilPrice1 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    color: #414141;
}

.stilPrice2 {
    font-size: 13px;
    margin-top: 5px;

}

.stilPrice3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;

} 

.stilPrice4 {
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
}


.stilPrice6 {
    display: flex;
}

.stilPrice5 {
 font-size: 12px;
 color:#CCCCCC;
 text-decoration: line-through;
 padding-left: 7px;
 margin-top: 5px;
}



.stol {
    width: 30%;
    height: auto;
    margin-left: 10%;
}

.shkaf {
    width: 30%;
    height: auto;
    margin-left: 3%;

}


.magazin11 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 20px;
}


.stilPrice12 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.stilPrice13 {
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
}









}

@media (min-width: 320px ) and (max-width: 480px) {

body {
    height: 900px;
}

.magazin768 , .magazin2768  {
    display: none;
}

.reklama992 {
    display: none;
}
.navigav992 {
    display: none;
}
.nava {
    display: none;
}
.navi {
    display: none;
}
.nav22 {
    display: none;
}
.nav-bar {
    padding-top: 20px;
}

.menu {
    width: 30px;
    height: 25px;
    z-index: 1000;
}

.nav {
    display: flex;
    justify-content: space-around;
}
.nav1 {
    display: flex;
    justify-content: space-between;
    width: 92px;
    height: auto;
}

.dostavka {
    display: none;
}


.search-container {
    border: 1px solid #ccc;
    background-color: #ffffff;
    width: auto;
    height: 40px;
    margin: 15px 17px 0px 17px;



}

/* Поле ввода */
.search-container input {
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    width: auto;
    height: 40px;
    justify-content: center;
    padding-left: 15px;
    
}

.navigav {
    display: flex;
    justify-content: center; 
    padding-top: 15px;
}


.reklama {
    background-color: #f4f4f4;
    width: 50%;
    height: 127px;
    z-index: 9;
    margin-top: 20px;
}

.reklama h2 {
 font-size: 16px;
 margin-bottom: 7px;
 position: relative;
 left: 7%;
 top: 25%;
 z-index: 9;

}
.reklama p {
    font-size: 10px;
    position: relative;
    width: 107px; 
    left: 7%;
    top: 25%;
    z-index: 9;
}

.reklama1 img {
    position: absolute;
    width: 100%;
    height: 127px;
    z-index: 0;

}

.magazin h2 {
    font-size: 16px;
    color: #414141;
    padding: 20px 15px 15px 15px;
    font-weight: bold;
}

.magazin1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.stul {
    width: 30%;
    height: auto;
}
.heart {
    position: relative;
    left: 100%;
    
}

.divan {
    width: 30%;
    height: auto;
}

.stol {
    width: 30%;
    height: auto;
}

.shkaf {
    width: 30%;
    height: auto;
}




.stilPrice1 {
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    color: #414141;
}

.stilPrice2 {
    font-size: 10px;
    margin-top: 5px;

}

.stilPrice3 {
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px;

} 

.stilPrice4 {
    font-size: 11.5px;
    font-weight: bold;
    margin-top: 10px;
}


.stilPrice6 {
    display: flex;
}

.stilPrice5 {
 font-size: 9px;
 color:#CCCCCC;
 text-decoration: line-through;
 margin-top: 8px;
 padding-left: 7px;
}



.magazin11 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 20px;
}


.stilPrice12 {
    font-size: 11px;
    font-weight: bold;
    margin-top: 10px;
}

.stilPrice13 {
    font-size: 10.8px;
    font-weight: bold;
    margin-top: 10px;
}



/* Скрытое меню */
.mobile-menu {
    position: fixed;
    top: 0;
    left: -100%; /* За пределами экрана */
    width: 70%;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: left 0.3s ease-in-out;
    z-index: 10;
}

/* Меню открыто */
.menu-active {
    left: 0; /* Выезжает на экран */
}

/* Логотип внутри меню */
.menu-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0; /* Отступы сверху и снизу */
    border-bottom: 1px solid #ccc; /* Разделительная линия */
    z-index: 1000;
}

.menu-logo img {
    width: 100px; /* Ширина твоего логотипа */
    height: auto;
    z-index: 1000;

}

.menu2 {
    font-size: 13px;
    padding: 10px;
}

#menuli {
    padding: 7px;
    font-size: 13px;
    font-weight: bold;

}


}